.side {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: @side-wd;
  z-index: @side-zindex;
  margin-top: @head-hg;
  background-color: @side-bg;
  transition: all .2s @layout-ease;
  overflow: hidden;
  overflow-scrolling: touch;
  border-right: 1px solid @border-base;
  -webkit-overflow-scrolling: touch;
  &-wrapper {
    overflow-x: hidden;
    height: ~'calc(100% - 64px)';
    overflow-y: scroll;
  }
}

@use-block-w: @side-wd - (@layout-spacing*6);
@use-block-avatar-w: @avatar-size-lg;
.user-block {
  padding-top: @layout-spacing*3;
  margin: 0 auto;
  display: block !important;
  width: @use-block-w;
  &-dropdown {
    display: flex;
    align-items: center;
    cursor: pointer;
    .info {
      color: @text-color;
      width: @use-block-w - @use-block-avatar-w -@layout-spacing;
    }
    .avatar {
      margin-right: @layout-spacing;
    }
  }

}

// 侧边菜单

@side-nav-prefix: side-nav;

.@{side-nav-prefix} {
  display: block;
  font-size: @side-nav-fs;
  > li {
    position: relative;
    border-left: 3px solid transparent;
    transition: border-left-color .4s ease;
    > a {
      color: @side-nav-item-text-color;
      text-decoration: none;
      padding: @side-nav-item-padding;
      white-space: nowrap;
      position: relative;
      display: block;
      i {
        min-width: 14px;
        display: inline-block;
        margin-right: @layout-spacing;
        transition: font-size .2s @layout-ease;
      }
      > span {
        transition: opacity .2s @layout-ease;
        opacity: 1;
      }
      &:hover {
        color: @side-nav-item-select-text-color;
      }
    }
    &.@{side-nav-prefix}-group-title {
      color: @side-nav-group-text-color;
      padding: @side-nav-item-padding;
    }

    &.@{side-nav-prefix}-item-selected {
      border-left-color: @side-nav-item-text-color-active;
      background-color: @side-nav-item-select-bg;
      > a {
        color: @side-nav-item-text-color-active;
      }
    }

  }

  &-sub {
    &-title {
      @fix-top: (@side-nav-fs + @layout-spacing) / 2;
      &:after {
        content: "\f106";
        font-family: FontAwesome !important;
        font-style: normal;
        vertical-align: baseline;
        text-align: center;
        text-transform: none;
        text-rendering: auto;
        position: absolute;
        right: @layout-spacing * 2;
        top: @fix-top;
        display: inline-block;
        font-size: 18px;
        transform: scale(.66666667) rotate(0deg);
        transition: transform .3s @ease-in-out;
        zoom: 1;
      }
    }
    display: none;
    overflow: hidden;
    > li {
      border-left: 0 !important;
    }
  }

  > li {
    &.@{side-nav-prefix}-submenu-open {
      .@{side-nav-prefix}-sub-title {
        &:after {
          transform: rotate(180deg) scale(.75);
        }
      }
      .@{side-nav-prefix}-sub {
        display: block;
        animation: fadeIn .5s;

      }

    }
  }

  &-depth1 {
    > li > a {
      padding-left: @layout-spacing * 5;
    }
  }

  &-float-container {
    position: absolute;
    /*兼容leaflet
     导航菜单应该在最上层
    */
    z-index: @side-zindex+400;
    min-width: 160px;
    border: 1px solid @content-head-border;
    background-color: @side-bg;
    border-radius: 4px;
    visibility: hidden;
    display: block;
    opacity: 0;
    transition: all .3s ease;

    > li {
      a {
        padding-left: @layout-spacing * 2;
      }
    }
    &-show {
      visibility: visible;
      opacity: 1;
    }
    .@{side-nav-prefix}-sub {
      display: block;
    }
  }
}

@media (max-width: @screen-sm) {
  .side-collapsed {
    .side {
      transform: translate3d(-100%, 0, 0);
    }
  }
}

@media (min-width: @screen-sm) {

  .side-collapsed {
    .side {
      width: @side-collapsed-wd;

      .@{side-nav-prefix}:not(.@{side-nav-prefix}-sub) {
        > li {
          &.@{side-nav-prefix}-group-title {
            display: none;
          }
          > a {
            text-align: center;
            padding: (@layout-spacing *3 ) 0;
            i {
              font-size: @side-collapsed-nav-fs;
            }
            > span {
              display: none;
            }
          }
        }
      }
      .@{side-nav-prefix} {
        &-sub {
          display: none !important;
          &-title {
            &:after {
              display: none;
            }
          }
        }
      }
      .user-block {
        width: @side-collapsed-wd;
        .info {
          display: none;
        }
        .avatar {
          margin: 0 auto;
        }
      }
    }
  }
}
