<nb-nav-tools class="content-title" [type]="type" (nbChange)="search($event)">
  <nz-select style="width: 120px;"
             [(ngModel)]="_time_dimension" (ngModelChange)="conditionRefresh($event)"
             nzAllowClear
             nzPlaceHolder="时间维度">
    <nz-option nzValue="range" nzLabel="天"></nz-option>
    <nz-option nzValue="week" nzLabel="周"></nz-option>
  </nz-select>

</nb-nav-tools>


<nz-card>
  <nz-tabset [nzTabBarExtraContent]="extraTemplate">
    <nz-tab [nzTitle]="'HTTP感知'">
      <div nz-row [nzGutter]="16">

        <div nz-col nzXs="24" nzSm="16" nzMd="16" nzLg="16">
          <nb-line-bar [height]="300" title="区县用户数分布" [data]="hhttp"></nb-line-bar>
        </div>
        <div nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="8">
          <nb-rank-list [pageSize]="6" title="小区HTTP感知top50" [data]="http_rank"
                        (nbChange)="refreshHttpBar($event)"></nb-rank-list>
        </div>

      </div>
    </nz-tab>
    <nz-tab [nzTitle]="'VOLTE感知' ">

      <div nz-row [nzGutter]="16">

        <div nz-col nzXs="24" nzSm="16" nzMd="16" nzLg="16">
          <nb-line-bar [height]="300" title="区县用户数分布" [data]="hvolte"></nb-line-bar>
        </div>
        <div nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="8">
          <nb-rank-list [pageSize]="6" title="小区VOLTE感知top50" [data]="volte_rank"
                        (nbChange)="refreshVolteBar($event)"></nb-rank-list>
        </div>

      </div>
    </nz-tab>

    <nz-tab [nzTitle]="'地理可视化' ">
      <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="24">
          <nb-map-2d [height]="400"></nb-map-2d>
        </div>
      </div>
    </nz-tab>

  </nz-tabset>

</nz-card>

<ng-template #extraTemplate>
  <button nz-button (click)="exportfile()" [nzSize]="size"><i class="fa fa-download"></i>导出</button>
</ng-template>

<!--

<nz-card>


  <div nz-row [nzGutter]="16">

    &lt;!&ndash;left&ndash;&gt;
    <div nz-col [nzXs]="24" [nzSm]="8" [nzMd]="8" [nzLg]="8">
      <nb-bar [height]="400" [data]="data" [title]="'小区评分'"></nb-bar>
    </div>
    &lt;!&ndash;for map&ndash;&gt;
    <div nz-col [nzXs]="24" [nzSm]="8" [nzMd]="8" [nzLg]="8">
      <nb-map-2d [height]="400"></nb-map-2d>
    </div>

    &lt;!&ndash;for rght&ndash;&gt;
    <div nz-col [nzXs]="24" [nzSm]="8" [nzMd]="8" [nzLg]="8">
      <nb-bar [height]="400" [data]="data" [title]="'异常用户数'"></nb-bar>
    </div>

  </div>

</nz-card>
-->


<nz-card nbCardNoPadding nzTitle="全量数据">


  <nz-table #nzTable [nzData]="table_data" [nzPageSize]="10" [nzScroll]="{ x:'1220px' }">
    <thead>
    <tr>
      <th nzWidth="100px" *ngFor="let item of table_metadata"><span>{{item.key}}</span></th>
      <th nzWidth="120px"><span>date</span></th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let row of nzTable.data">
      <td *ngFor="let col of row">{{col }}</td>

    </tr>
    </tbody>
  </nz-table>

</nz-card>

