<nb-nav-tools class="content-title"></nb-nav-tools>


<nz-card>
  <ng-template #body>

    <div nz-row [nzGutter]="16">

      <!--left-->
      <div nz-col [nzXs]="24" [nzSm]="8" [nzMd]="8" [nzLg]="8">
        <nb-bar [height]="400" [data]="data" [title]="'小区评分'"></nb-bar>
      </div>
      <!--for map-->
      <div nz-col [nzXs]="24" [nzSm]="8" [nzMd]="8" [nzLg]="8">
        <nb-map-2d [height]="400"></nb-map-2d>
      </div>

      <!--for rght-->
      <div nz-col [nzXs]="24" [nzSm]="8" [nzMd]="8" [nzLg]="8">
        <nb-bar [height]="400" [data]="data" [title]="'异常用户数'"></nb-bar>
      </div>

    </div>

  </ng-template>
</nz-card>

<nz-card nbCardNoPadding>
  <ng-template #body>

    <nz-table #nzTable [nzDataSource]="tdata" [nzPageSize]="5" nzBordered>
      <thead nz-thead>
      <tr>
        <th nz-th="2"><span>小区ID</span></th>
        <th nz-th rowspan="2"><span>用户数</span></th>
        <th nz-th rowspan="2"><span>感知评分</span></th>
        <th nz-th colspan="3"><span>VoLTE</span></th>
        <th nz-th colspan="3"><span>HTTP</span></th>
      </tr>

      <tr>
        <th nz-th><span>接入</span></th>
        <th nz-th><span>保持</span></th>
        <th nz-th><span>完整</span></th>
        <th nz-th><span>接入</span></th>
        <th nz-th><span>保持</span></th>
        <th nz-th><span>完整</span></th>
        <th nz-th><span>接入</span></th>
      </tr>
      </thead>
      <tbody nz-tbody>
      <tr *ngFor="let item of nzTable.data">
        <td *ngFor="let col of item">{{col}}</td>
      </tr>

      </tbody>
    </nz-table>

  </ng-template>
</nz-card>
