/*@header-bg-code-num: 6;
@nav-item-selected-bg-code-num: 1;
@nav-item-selected-color-code-num: 8;
@nav-prefix-cls: nb;

@import "../_antd-style/themes/default";*/

/**
   linear-gradient(to right,#473b7b,#30d2be)
 */
.themeA {
  .head {
    background: linear-gradient(to right, #3b4650, #647688);
  }
}

.themeB {
  .head {
    background: linear-gradient(to right, #473b7b, #30d2be);
  }
}

.themeC {
  .head {
    background: linear-gradient(to right, #000, #0fb3c2);
  }
}

.themeD {
  .head {
    background: linear-gradient(to right, #ff5858, #f09819);
  }
}

.themeE {
  .head {
    background: linear-gradient(to right, #4099ff, #6e7ff3);
  }
}

.themeF {
  .head {
    background: linear-gradient(to right, #2d0102, #091991);
  }
}

