<div class="side-wrapper">

  <nz-dropdown nzTrigger="click" class="user-block clearfix">
    <div nz-dropdown class="user-block-dropdown">
      <nz-avatar class="avatar" [nzSrc]="'./assets/img/1.png'" [nzSize]="'large'"></nz-avatar>
      <div class="info">
        <strong>AdMname</strong>
        <p class="text-truncate">2457020@qq.com</p>
      </div>
    </div>
    <ul nz-menu>
      <li nz-menu-item>name</li>
      <li nz-menu-item>set</li>
      <li nz-menu-item>age</li>
    </ul>
  </nz-dropdown>
  <nb-side-nav class="display-b paddingY-lg"></nb-side-nav>
</div>
