<div class="logcontainer">


  <nz-card style="width:100%;" nzBordered="true">
    <ng-template #title>
      <a>
        <img class="expanded" src="./assets/img/logo-full-cmcc.svg" style="max-height:40px;"/>
      </a>
    </ng-template>




      <form nz-form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
        <div nz-form-item>
          <div nz-form-control>


            <nz-input-group nzSearch [nzPrefix]="prefixa">
              <input type="text" nz-input placeholder="input search text"/>
            </nz-input-group>
          </div>
        </div>
        <ng-template #prefixa>
          <i class="fa fa-user-o"></i>
        </ng-template>

        <div nz-form-item>
          <div nz-form-control>
            <nz-input-group nzSearch [nzPrefix]="prefix">
              <input type="text" nz-input placeholder="input search text"/>
            </nz-input-group>

          </div>
        </div>

        <ng-template #prefix>
          <i class="fa fa-key"></i>
        </ng-template>

        <button class="sub" nz-button type="submit" [nzType]="'primary'" [nzSize]="'large'">login</button>
      </form>

  </nz-card>

</div>


